# Ignore the error-checking files. Local repo only
/data/processed/*error*.xlsx

#RStudio proj files
.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

*archive*/
*archive*

# Huge ABMI geodatabases
**/ABMIw2wLCV2010_v10.gdb/
**/HFI2021.gdb/
**/HFI2021_clipped.gdb/
**/OSM_landscape_data.gdb/
**/OSM_mapping.gdb/
**/SBFI_2020_Boreal_Plains.gdb/
maps/ABMIw2wLCV2010_v10.gdb/
maps/HFI2021.gdb/
maps/OSM_landscape_data.gdb/
maps/OSM_mapping.gdb/
maps/SBFI_2020_Boreal_Plains.gdb/
maps/HFI2021_clipped.gdb/
maps/HFI_clipped/


# Raster folder (HUGE)
**/rasters/
rasters/